<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OperatingSystemConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OperatingSystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="local_operatingSystem_connectionstring" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\hossam\Desktop\home_works\OperatingSystem\App_Data\visual_studio_OperatingSystem.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
  <add key="localhost.WebServiceOperatingSystem" value="http://localhost:52836/WebServiceOperatingSystem.asmx"/>
  </appSettings>
</configuration>