<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
    <connectionStrings>
      <add name="OperatingSystemConnectionString"        
           connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OperatingSystem;Integrated Security=True"
           providerName="System.Data.SqlClient"/>
      <add name="local_operatingSystem_connectionstring_temp" 
           connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\visual_studio_OperatingSystem.mdf;Integrated Security=True" 
           providerName="System.Data.SqlClient"/>
      <add name="local_operatingSystem_connectionstring"
           connectionString="Data Source=DESKTOP-NR124NK\SQLEXPRESS;Initial Catalog=C:\USERS\HOSSAM\DESKTOP\HOSSAM_MAHAGNA_OPERATING_SYSTEM\MVC\OPERATINGSYSTEMMVC\APP_DATA\VISUAL_STUDIO_OPERATINGSYSTEM.MDF;Integrated Security=True"/>
    </connectionStrings>
</configuration>
